h1 {color: #0000ff;
    background-color: cornsilk;
    border-radius: 25px; font-family: Arial, Helvetica, sans-serif;
    border: 2px cornsilk;
}

a:link {color: #00ff00}
a:visited {color: #0000ff}
a:hover {color: #ff00bf}

body {
    background-color: #f1f178;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}