h1 {text-align: center;
    color: #0000ff;
    background-color: cornsilk;
    border-radius: 25px; font-family: Arial, Helvetica, sans-serif;
    border: 4px cornsilk;
}

a:link {color: #00ff00}
a:visited {color: #0000ff}
a:hover {color: #ff00bf}

body {
    background-color: #ebeb4c;
}

p {color:#0000ff
    font-family Arial, Helvetica, sans-serif;
}